$white: #fff;
$black: #000;

$text-input: #4E4E4E;
$text-gray: #5C5C5C;
$header-p-gray: #505050;
$text-gray-dark: #1B1F23;
$text-gray-light: #686868;
$subhead-gray-light: #707070;
$separator-footer-gray: #959EA8;
$separator-companies-gray: #E1E2E3;
$feature-card-border-color: #EEEEEE;
$box-shadow-color: #F1F1F1;
$faq-shadow-color: #E3F1EA;
$header-shadow-color: #d9d9d9;

$social-media-icon: #161A1E;

$primary: #5CA380;
$secondary: #5960B2;
$primary-light: #F3FFF9;
$carousel-indicator: #D4ECE0;

$gradient-start: #FEC9A2;
$gradient-end: #EE4D5E;

$video-shadow: #DEDEDE;
$video-bg: #DFE7F6;

$error-text: #f32b3f;
