@import './responsive_mixin';
@import './typography';
@import './variables';
@import './colors';
@import './mixins';
@import './fonts';

.blogs-section {
	
	// Blogs Main Page
	.blogsWrapper {
		@include flexBox($align: flex-start, $gap: 3rem);
		margin-bottom: 6.25rem;
		margin-top: 2.5rem;
		
		@include responsive_mobile() {
			@include flexBox($gap: 3rem, $wrap: wrap-reverse);
		}

		.blogs {
			&__main {
				@include flexBox($align: stretch, $wrap: wrap, $justify: flex-start, $gap: 2.75%);
				flex: 1;
				
				.card {
					@include boxShadow($shadow: 0px 4px 8px, $color: #F2F2F2);
					@include flexBox($align: flex-start, $direction: column, $justify: flex-start);
					margin-bottom: 1.875rem;
					@include borderRadius;
					overflow: hidden;
					@include cursor;
					width: 31.5%;
					
					@include responsive_tablet() {
						@include flexBox($align: flex-start, $direction: column);
						width: 48%;
					}
					@include responsive_mobile() {
						@include flexBox($align: flex-start, $direction: column);
						width: 100%;
					}
					
					&__blog {
						@include boxShadow($color: $box-shadow-color);	
					}
					
					&__media {
						margin-bottom: 1.375rem;
						width: 100%;
						
						img {
							object-fit: cover;
							display: block;
							width: 100%;
							margin: 0;
						}
					}
					&__content {
						@include flexBox($wrap: wrap, $justify: flex-start, $align: flex-start, $direction: column);
						padding: 0 1.375rem;
						flex: 1;
					}
					&__heading {
						@include fontStyles($lineHeight: 1.6875rem, $size: 1.125rem, $weight: 600);
						margin-bottom: 0.625rem;
						margin-left: 0;
					}
					&__body {
						margin-bottom: 2rem;
						
						p {
							@include fontStyles($lineHeight: 1.375rem, $size: 0.875rem);
							margin-bottom: 1rem;
						}
					}
					&__footer {
						margin-bottom: 2rem;
						@include flexBox;
						margin-top: auto;
						width: 100%;

						.author_wrapper, .date_wrapper {
							width: fit-content;
							@include flexBox;
							color: #686868;
							
							span {
								@include fontStyles($lineHeight: 1.375rem, $size: 0.75rem);
								padding-left: 0.5rem;
							}
						}

						span {
							@include fontStyles($lineHeight: 1.375rem, $size: 0.75rem);
							padding-left: 0.5rem;
						}
					}
				}
			}
			
			&__aside {
				flex: 0 0 16.25rem;
				@include responsive_mobile() { flex: 0 0 100% }

				.head {
					@include fontStyles($lineHeight: 1.6875rem, $size: 1.125rem, $weight: 600);
					margin-bottom: 0.625rem;
					text-align: left;
				}
				.categoryList {				
					border-top: 1px solid #d4d4d4;
					
					li {
						border-bottom: 1px solid #d4d4d4;

						a {
							@include fontStyles($lineHeight: 2.25rem, $size: 0.875rem);
							position: relative;
							padding: 0 0.625rem;
							display: block;
							
							&::after {
								background: url(../images/blog/link_arrow.svg) no-repeat right center;
								@include transition;
								position: absolute;
								display: block;
								height: 1rem;
								width: 1rem;
								content: "";
								right: 0;
								top: 10px;
							}
							&:hover::after {
								right: -10px;
							}
						}
					}
				}
			}
		}
	}

	// Blog Details
	.blogDetailsWrapper {
		margin-bottom: 3.75rem;
		margin-top: 0.9375rem;

		.breadCrumb {
			margin-bottom: 1.5625rem;
			width: fit-content;
			@include flexBox;

			img {
				filter: brightness(0.4);
				margin: 0 0.5rem;
			}

			a, span {
				@include fontStyles($size: 0.75rem, $lineHeight: 1.375rem, $weight: 500);
			}
		}
		.blogMainImage {
			margin-bottom: 1.25rem;
			
			img {
				display: block;
				width: 100%;
			}
		}

		.blog {
			&__author_and_date {
				border-bottom: 1px solid #EAEAEA;
				margin-bottom: 2rem;
				@include flexBox;
				width: 100%;

				.author_wrapper, .date_wrapper {
					margin-bottom: 0.5rem;
					width: fit-content;
					@include flexBox;
					color: #686868;
					
					span {
						@include fontStyles($lineHeight: 1.375rem, $size: 0.75rem);
						padding-left: 0.5rem;
					}
				}
			}
			&__content {
				h1, p, img {margin-bottom: 1.25rem;}

				h1 {
					padding-bottom: 0.25rem;
					
					&, p, div, span, a, b, i, u, strong, em, li {
						@include fontStyles($weight: 600, $size: 1.5rem, $lineHeight: 2.25rem);
					}
				}
				h2 {
					&, p, div, span, a, b, i, u, strong, em, li {
						@include fontStyles($weight: 600, $size: 1.375rem, $lineHeight: 2.125rem);
					}
				}
				h3 {
					&, p, div, span, a, b, i, u, strong, em, li {
						@include fontStyles($weight: 600, $size: 1.25rem, $lineHeight: 2rem);
					}
				}
				h4 {
					&, p, div, span, a, b, i, u, strong, em, li {
						@include fontStyles($weight: 600, $size: 1.125rem, $lineHeight: 1.875rem);
					}
				}
				h5 {
					&, p, div, span, a, b, i, u, strong, em, li {
						@include fontStyles($weight: 600, $size: 1rem, $lineHeight: 1.75rem);
					}
				}
				h6 {
					&, p, div, span, a, b, i, u, strong, em, li {
						@include fontStyles($weight: 600, $size: 0.875rem, $lineHeight: 1.625rem);
					}
				}
				p, div, span, a, b, i, u, strong, em, li {
					@include fontStyles($size: 0.9375rem, $lineHeight: 1.375rem);
					text-align: justify;
				}
				a {
					border-bottom: 1px solid currentColor;
					color: #0969da;
					display: inline;

					&:hover { border-color: transparent;}
				}

				ol { list-style: decimal;
					ol { list-style: lower-alpha;
						ol { list-style: lower-roman; }
					}
				}
				ul { list-style: disc;
					ul { list-style: circle;
						ul { list-style: square; }
					}
				}
				ol, ul, dl {
					padding-left: 1.5rem;
					
					li, dt, dd {
						&, p, div, span, a, b, i, u, strong, em, li {
							@include fontStyles($size: .98rem, $lineHeight: 1.375rem);
							padding-left: 0.25rem;
							text-align: justify;
						}
					}
				}

				code,
				pre {
					color: #c5c8c6;
					text-shadow: 0 1px rgba(0, 0, 0, 0.3);
					@include fontStyles($weight: 600, $size: 1rem);
					direction: ltr;
					text-align: left;
					white-space: pre;
					word-spacing: normal;
					word-break: normal;
					line-height: 1.5;

					-moz-tab-size: 4;
					-o-tab-size: 4;
					tab-size: 4;

					-webkit-hyphens: none;
					-moz-hyphens: none;
					-ms-hyphens: none;
					hyphens: none;
				}

				pre {
					padding: 1em;
					margin: .5em 0;
					overflow: auto;
					border-radius: 0.3em;
				}
				
				:not(pre) > code,
				pre {
					background: #1d1f21;
				}
				
				/* Inline code */
				:not(pre) > code {
					padding: .1em;
					border-radius: .3em;
				}

				blockquote {
					@include fontStyles($weight: 600, $size: 1rem);
					border-left: 0.375rem solid #C1E5D3;
					background-color: #F5FFFA;
					margin-bottom: 1.5rem;
					font-weight: bold;
					padding: 1.5rem;

					q {
						margin-bottom: 0.5rem;
						display: block;
					}
					
					cite {
						@include fontStyles($weight: 600, $size: 0.75rem);
						font-style: normal;
					}
				}

				table {
					border-collapse: collapse;
					margin-bottom: 1.25rem;
					color: #595959;
					width: 100%;
	
					tr {
						th, td {
							border: 1px solid black;
							vertical-align: top;
							text-align: left;
							padding: 0.5rem;
						}
						th { @include fontStyles($weight: 600, $size: 1rem); }
						td { @include fontStyles($size: 0.9375rem); }
					}
				}
			}
		}
	}
}
