@import './responsive_mixin';
@import './variables';
@import './colors';
@import './mixins';
@import './fonts';

.carousel-container {
  min-height: $banner-height;

  @include responsive_desktop() {
    background-color: $white;
  }

  @include responsive_tablet() {
    min-height: $banner-height-tablet;
  }

  @include responsive_mobile() {
    min-height: $banner-height-mobile;
  }

  padding-bottom: 5rem;
  position: absolute;
  overflow: hidden;
  max-width: 100vw;
  min-width: 98vw;
  display: block;
  left: 0;
  top: 0;
}

.carousel {
  min-height: $banner-height;

  @include responsive_desktop() {
    background: $primary-light url('../images/home/home_bg_banner.webp') no-repeat top left;
    background-size: cover;

    position: relative;
  }

  text-align: center;
  list-style: none;
  height: 100%;
  width: 100%;
  padding: 0;
}

.carousel__controls,
.carousel__activator {
  display: none;
}

.carousel__activator {
  &:nth-of-type(1):checked {
    &~.carousel__track {
      transform: translateX(0%);
    }

    &~.carousel__slide {
      &:nth-of-type(1) {
        transition: opacity 0.5s, transform 0.5s;
        top: 0;
        left: 0;
        right: 0;
        opacity: 1;
        transform: scale(1);
      }
    }

    &~.carousel__controls {
      &:nth-of-type(1) {
        display: block;
        opacity: 1;
      }
    }

    &~.carousel__indicators {
      .carousel__indicator {
        &:nth-of-type(1) {
          border: $carousel-indicator-border;
        }
      }
    }
  }

  &:nth-of-type(2):checked {
    &~.carousel__track {
      transform: translateX(-100%);
    }

    &~.carousel__slide {
      &:nth-of-type(2) {
        transition: opacity 0.5s, transform 0.5s;
        transform: scale(1);
        opacity: 1;
        right: 0;
        left: 0;
        top: 0;
      }
    }

    &~.carousel__controls {
      &:nth-of-type(2) {
        display: block;
        opacity: 1;
      }
    }

    &~.carousel__indicators {
      .carousel__indicator {
        &:nth-of-type(2) {
          border: $carousel-indicator-border;
        }
      }
    }
  }

  &:nth-of-type(3):checked {
    &~.carousel__track {
      transform: translateX(-200%);
    }

    &~.carousel__slide {
      &:nth-of-type(3) {
        transition: opacity 0.5s, transform 0.5s;
        transform: scale(1);
        opacity: 1;
        right: 0;
        left: 0;
        top: 0;
      }
    }

    &~.carousel__controls {
      &:nth-of-type(3) {
        display: block;
        opacity: 1;
      }
    }

    &~.carousel__indicators {
      .carousel__indicator {
        &:nth-of-type(3) {
          border: $carousel-indicator-border;
        }
      }
    }
  }
}

.carousel__control {
  border-width: 5px 5px 0 0;
  border-color: #fafafa;
  border-style: solid;
  position: absolute;
  margin-top: -15px;
  @include cursor;
  display: block;
  opacity: 0.35;
  height: 30px;
  width: 30px;
  outline: 0;
  z-index: 3;
  top: 50%;

  &:hover {
    opacity: 1;
  }
}

.carousel__control--backward {
  transform: rotate(-135deg);
  left: 10px;
}

.carousel__control--forward {
  transform: rotate(45deg);
  right: 10px;
}

.carousel__indicators {
  position: absolute;
  text-align: left;
  bottom: 20px;
  width: 100%;

  .container {
    @include flexBox($justify: flex-start, $gap: 0.875rem);
    padding-left: 1vw;

    .carousel__indicator {
      border: $primary-light-border;
      background-color: $primary;
      box-sizing: content-box;
      display: inline-block;
      border-radius: 100%;
      @include cursor;
      height: 0.5rem;
      width: 0.5rem;
      z-index: 2;

      &:hover {
        opacity: 0.75;
      }
    }
  }

  @include responsive_medium2small() {
    bottom: 40px;

    .container {
      @include flexBox($justify: flex-end, $gap: 1rem);
    }
  }
}

.carousel__track {
  transition: transform 0.5s ease 0s;
  position: absolute;
  list-style: none;
  width: 100vw;
  padding: 0;
  margin: 0;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;

  .carousel__slide {
    display: block;
    opacity: 1;
    right: 0;
    left: 0;
    top: 0;

    &:nth-of-type(1) {
      transform: translateX(0%);
    }

    &:nth-of-type(2) {
      transform: translateX(100%);
    }

    &:nth-of-type(3) {
      transform: translateX(200%);
    }
  }
}

.carousel--scale {
  .carousel__slide {
    transform: scale(0);
  }
}

.carousel__slide {
  position: absolute;
  overflow-y: visible;
  height: 100%;
  opacity: 0;

  &:nth-of-type(2) {
    @include responsive_medium2small() {
      .container {
        margin-top: 4rem;

        &__left {
          transform: translateY(-2rem);
        }
      }
    }

    @include responsive_mobile() {
      .container {
        margin-top: 6rem;

        &__left {
          transform: translateY(-10rem);
        }

        &__right {
          transform: scale(0.8) translateY(-5rem);
        }
      }
    }
  }

  .container {
    @include flexBox;
    width: 100%;

    @include responsive_desktop() {
      @include flexBox($gap: 4rem);
    }

    @include responsive_medium2small() {
      @include flexBox($direction: column-reverse);
      margin-top: 6rem;

      &__left,
      &__right {
        width: 100%;
      }
    }

    @include responsive_mobile() {
      min-height: $banner-height-mobile;
    }

    &__left {
      flex-basis: 50%;

      @include responsive_desktop() {
        padding-right: 6vw;
      }

      @include responsive_mobile() {
        transform: translateY(-10rem);
      }

      .head {
        @include fontStyles($size: 2.625rem, $lineHeight: 3.75rem, $weight: 700);
        text-align: left;

        @include responsive_mobile() {
          flex-basis: 100%;
          @include fontStyles($size: 2.4rem, $lineHeight: 3.4rem, $weight: 700);
        }

        .light {
          @include fontStyles($size: 2.625rem, $lineHeight: 3.75rem, $weight: normal);
        }
      }

      .cta {
        line-height: $btn-height;
        margin-top: 3.4375rem;
        height: $btn-height;
        width: $cta-width;
      }
    }

    &__right {
      flex-basis: 50%;

      @include responsive_desktop() {
        min-height: $banner-height;
        @include flexBox;
      }

      @include responsive_medium2small() {
        transform: scale(0.8);
      }

      @include responsive_mobile() {
        transform: scale(0.8) translateY(2rem);
      }


      picture {
        text-align: center;

        @include responsive_desktop() {
          min-height: $banner-height;
          @include flexBox;
        }

        img {
          @include responsive_desktop() {
            transform: translateY(55px);
          }

          display: block;
          margin: auto;
        }

        &.pic-one {
          transform: scale(165%) translateX(-8%);
          margin-bottom: 75px;

          @include responsive_desktop() {
            transform: scale(165%) translate(-8%, 1.5%);
            margin-bottom: 75px;
          }

          max-width: 100vw;
        }

        &.pic-two {
          transform: scale(0.9);
          margin-bottom: -60px;

          @include responsive_desktop() {
            transform: scale(1);
            margin-bottom: -60px;
          }

          max-width: 100vw;
        }

        &.pic-three {
          transform: scale(1);
          margin-bottom: 15px;
          max-width: 100vw;

          @include responsive_desktop() {
            transform: scale(1.1);
          }
        }

        @include responsive_medium2small() {

          &.pic-one,
          &.pic-two,
          &.pic-three {
            transform: scale(1);
            margin-bottom: 0;
            max-width: 80vw;
            height: auto;
          }

          &.pic-two {
            max-height: 45vh;
          }
        }

        @include responsive_mobile() {}
      }
    }
  }
}

.carousel--thumb {
  .carousel__indicator {
    height: 30px;
    width: 30px;
  }
}