@import "variable";
@import "mixins";
@import "colors";

.container {
	width: $container-width;
	margin: 0px auto;
	display: flex;
	justify-content: center;
}

.row {
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.w-100 {
	width: 100%;
}

.align-item-center {
	align-items: center;
}

.justify-content-between {
	justify-content: space-between;
}

.flex-direction-column {
	flex-direction: column;
}

.flex-direction-row {
	flex-direction: row;
}

.fluid-img {
	max-width: 100%;
}

.mt-100 {
	margin-top: $mt-100;
}

.mb-100 {
	margin-bottom: $mb-100;
}

.pt-100 {
	padding-top: $pt-100;
}

.pb-100 {
	padding-bottom: $pt-100;
}


// Contact-us 
.contact-us-section {
	.text-contain {
		h1 {
			@include fontStyles($size: 2.25rem, $weight: 600, $lineHeight: 3rem);
			margin-bottom: 1.875rem;
		}

		h2 {
			@include fontStyles($size: 1.5rem, $weight: 600, $lineHeight: 2.25rem);
		}

		label {
			@include fontStyles($size: 1.125rem, $lineHeight: 1.625rem);
			color: $black;
			margin-bottom: 1.875rem;

			p {
				&:not(:first-of-type) {
					margin-top: 1rem;
				}

				a {
					@include fontStyles($size: 1.125rem, $weight: 700, $lineHeight: 1.625rem);
				}
			}
		}

		&.col-6 {
			max-width: 444px;
		}
	}

	.col-6 {
		display: flex;
		width: 50%;
		flex-direction: column;
	}

	hr {
		margin: 2rem 0px;
		box-shadow: none;
		border: 1px solid #949da833;
	}


	/* button */
	.form {
		h1 {
			@include fontStyles($size: 1.5rem, $lineHeight: 1.625rem);
			text-align: center;
			margin-bottom: 20px;
		}
	}

	.form-field {
		margin-bottom: 10px;
		width: 100%;

		label {
			display: block;
			color: #777;
			margin-bottom: 5px;
		}

		input {
			font-size: 14px;
			display: block;
			width: 100%;
			height: 48px;
			background: $white;
			border: 1px solid #C8C8C8;
			border-radius: 100px;
			padding: 0px 1.5rem;
			font-family: 'Poppins', sans-serif;
			color: $black;

			&:focus {
				outline: none;
				border-color: $black;
			}

			&:focus {
				outline: none;
				border-color: $black;
			}

			&.invalid {
				&+small.error {
					visibility: visible;
				}
			}

			/* Chrome, Safari, Edge, Opera */
			&[type=number]::-webkit-outer-spin-button,
			&[type=number]::-webkit-inner-spin-button {
				-webkit-appearance: none;
				margin: 0;
			}

			/* Firefox */
			&[type=number] {
				-moz-appearance: textfield;
			}
		}

		textarea {
			@extend input;
			border-radius: 10px;
			height: 138px;
			padding-top: 10px;
			display: block;
			color: $black;
			resize: none;
		}

		small {
			display: block;
			font-size: 0.7rem;
			font-family: 'Poppins', sans-serif;
			padding: 0.25rem 0 0.25rem 1.5rem;
			text-transform: capitalize;
			color: $error-text;
			visibility: hidden;
		}

		.btn {
			width: 172px;
			background: #5CA380;
			box-shadow: 0px 6px 12px #00000029;
			border-radius: 100px;
			height: 52px;
			font-size: 1rem;
			font-weight: 600;
			color: white;
			margin-top: 1.5rem;
			border: none;

			&:hover {
				cursor: pointer;
			}

			&:focus {
				outline: none;
			}
		}

		&.accept-terms {
			@include fontStyles($size: 1rem, $lineHeight: 2.5rem);
			align-items: center;

			input {
				width: 20px;
				height: 20px;
				margin-right: 10px;
				border-color: #FF9B27;
			}
		}
	}

	.form-field.error {
		input {
			border-color: $error-text;
			color: $error-text;
		}

		small {
			visibility: visible;
		}
	}

	.form-field.success {
		input {
			border-color: var(--success-color);
		}
	}

	.contact-detail {
		background: #F3FFF9 0% 0% no-repeat padding-box;
		border-radius: 15px;
		align-self: flex-start;
		transform: translateY(45px);

		figure {
			transform: translateY(-45px);
			text-align: center;
		}

		.address {
			padding: 0.75rem;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			padding-bottom: 0px;

			.icon {
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 50%;
				overflow: hidden;
			}

			.office-addres {
				@include fontStyles($size: 1rem, $lineHeight: 1.5625rem);
				color: #000000;
				width: calc(100% - 75px);
				margin-left: auto;
				margin-top: 1.9rem;
			}
		}
	}


}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
	.contact-us-section {

		h1 {
			text-align: center;
		}

		.text-contain {
			&.col-6 {
				max-width: 100% !important;
			}
		}

		.col-6 {
			width: 100%;
		}

		.right {
			order: 1;
		}

		.left {
			order: 2;
		}

		.contact-detail {
			margin-top: 4rem;
		}
	}
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
	.header-wrapper {
		.header-container {
			padding: 45px 0px;

			p {
				padding: 0px 1rem;
			}
		}
	}

	.contact-us-section {
		margin-top: 50px;

		.text-contain {
			h1 {
				font-size: 1.8rem;
				text-align: left;
			}

			&.col-6 {
				max-width: 350px;
			}
		}

		.contact-detail {
			padding-bottom: 2rem;

			.address {
				padding: 1.375rem;
			}
		}
	}
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
	.container {
		width: 100%;
	}

	.contact-us-section {
		margin-left: 15px;
		margin-right: 15px;
	}
}

// X-Large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) {}

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {

	.header-wrapper {
		.header-container {
			h3 {
				font-size: 2rem;
			}
		}
	}

	.contact-us-section {
		margin-top: 50px;

		.text-contain {
			h1 {
				font-size: 1.5rem;
			}
		}

		.contact-detail {
			padding-bottom: 2rem;

			.address {
				padding: 1rem;
				word-wrap: break-word;

				br {
					display: none;
				}
			}
		}

		.form-field {
			.btn {
				width: 100%;
			}
		}
	}
}