---
import { ZINC_CLOUD_BETA_LINK } from "../utils/constant.js";

const {
  title = 'Get started for free',
  className = 'cta btn btn--primary',
  hrefLink = ZINC_CLOUD_BETA_LINK
} = Astro.props;
---

<a rel="noreferrer noopener" href={hrefLink} class={className}>{title}</a>