---
---
<section class="subscribe">
  <div class="container">
    <div class="head">
      <h2>Subscribe to our Newsletters</h2>
      <p>
        Get Latest Update &amp; News
      </p>
    </div>
    <form action="/" method="post" id="subscription-form">
      <input type="email" name="email" id="email" placeholder="Enter your email ID" autocomplete="off"
        onkeyup="handleInputUpdate(event)" />
      <button type="submit" class="btn btn--tall btn--primary">
        <i class="loader"></i>
        <span>Submit</span>
      </button>
    </form>
  </div>
</section>

<script is:inline src='/assets/js/subscriptionScript.js' />
